<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <file>tests/AuthenticatorTest.php</file>
            <file>tests/CategoryServiceTest.php</file>
            <file>tests/CsrfTest.php</file>
            <file>tests/DashboardServiceTest.php</file>
            <file>tests/ProductServiceTest.php</file>
            <file>tests/UserServiceTest.php</file>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
